*{
    margin: 0px;
    padding: 0px;

}
/* header */

.header{
    background-color: #262626;
    height: 66px;
}
.btn-one{
    background-color: #82B440;
    color: #FFFFFF;
    height: 35px;
    padding: 1px  15px;
    border-radius: 6px;
    text-align: center;
    border: none;
    display: flex;
    justify-content: center;
  
}
.navbar-logo{
    height: 35px;
    font-size: 25px;
    text-decoration: none;
}
/* Section1 */

.section1{
    height: 80px;
 
}
.nav-item{
    margin: 15px;

}
.btn-two{
    background-color: #82B440;
    color: #FFFFFF;
    height: 40px;
    width: 160px;
    margin-right: 160px;
    padding-right:15px;
    border-radius: 6px;
    text-align: center;
    border: none;
    font-weight: bold;
  
}
.btn-two:hover{
    background-color: #444648;
    color: #82B440;
}
.btn-three{
    background-color: white;
    border: none;
    height: 50px;
    width: 150px;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
    color: #8AA82F;
    font-weight: bold;
    margin-left: 50px;
}

.btn-three:hover{
    background-color: #444648;
    
}
/* background-overlay */
.col h4{
    font-size: 19px;
    color: white;
    margin-top: 140px;
    margin-left: 50px;
    font-weight: bold;
}
.col h1{
    font-weight: bolder;
    font-size: 70px;
    margin-left: 50px;
}
.col p{
    font-size: 20px;
    margin-left: 50px;
}
.background-overlay{
    background-color: #82B440;
    border-bottom-right-radius: 150px;
    height: 600px;
    
}
img{
    height: 600px;
    
}
